<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BlackAndWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlackAndWhite</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Depth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Depth</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Flat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Flat</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>InsideOut</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>InsideOut</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Neon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Neon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Neumorphism</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Neumorphism</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>PlusDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PlusDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>PlusLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PlusLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>RainbowDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>RainbowDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>RainbowLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>RainbowLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>WhiteAndBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>WhiteAndBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Icon</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>BlackAndWhite</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BlackAndWhite</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Depth</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Depth</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Flat</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Flat</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>InsideOut</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>InsideOut</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Neon</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Neon</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Neumorphism</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Neumorphism</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>PlusDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PlusDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>PlusLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>PlusLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>RainbowDark</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>RainbowDark</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>RainbowLight</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>RainbowLight</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>WhiteAndBlack</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>WhiteAndBlack</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>To create new media Memories.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>To allow authenticating into Memorio.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>To allow saving your location to your Memories.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>To add audio to your video Memories.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To save your Memories into your photo library.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
</dict>
</plist>
